body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  color: #61dafb;
}
h3 span {
  color: #a3aab1;
}

p {
  color: black;
}

.navbar {
  padding: 2px 8px;

  background: #20232a;
}
.navbar * {
  text-decoration: none;
}

.panel-header {
  padding: 2px 8px;

  background: #f6f8fa;

  border-bottom: 1px solid #a3aab1;
}
.panel-header h2 {
  line-height: 15px;
}
.panel-header h2 span {
  color: #999;
}
.panel-header p {
  line-height: 12px;
  font-size: 15px;
  color: #444;
}

.list-group {
  margin: 0;
  padding: 16px;
}

.list-item {
  list-style-type: none;

  margin: 8px 0 0 0;
  padding: 10px;

  background: rgba(187,239,253,0.3);
  border-radius: 3px;

  font-size: 15px;
  color: black;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item a {
  padding: 0;

  color: black;
}
.list-item a span {
  color: #999;
}

.author-login {
  font-weight: 600;
  color: #444;
}

.empty-state {
  padding: 8px;
}